@font-face {
    font-family: 'silkscreennormal';
    src: url('../fonts/slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'silkscreennormal';
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}